In [1]:
import pandas as pd
import numpy as np

In [2]:
tracts =pd.read_csv('ACSST5Y2018.S0101_data_with_overlays_2020-05-25T153603.csv') #, skiprows=[0])
tracts.head(3)

,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total MOE!!Total population,Estimate!!Percent!!Total population,Margin of Error!!Percent MOE!!Total population,Estimate!!Male!!Total population,Margin of Error!!Male MOE!!Total population,Estimate!!Percent Male!!Total population,Margin of Error!!Percent Male MOE!!Total population,...,Estimate!!Percent!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent MOE!!PERCENT ALLOCATED!!Age,Estimate!!Male!!PERCENT ALLOCATED!!Age,Margin of Error!!Male MOE!!PERCENT ALLOCATED!!Age,Estimate!!Percent Male!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Male MOE!!PERCENT ALLOCATED!!Age,Estimate!!Female!!PERCENT ALLOCATED!!Age,Margin of Error!!Female MOE!!PERCENT ALLOCATED!!Age,Estimate!!Percent Female!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female MOE!!PERCENT ALLOCATED!!Age
0,1400000US36005000100,"Census Tract 1, Bronx County, New York",7080,290,(X),(X),6503,284,(X),(X),...,0,(X),(X),(X),(X),(X),(X),(X),(X),(X)
1,1400000US36005000200,"Census Tract 2, Bronx County, New York",4542,574,(X),(X),2264,351,(X),(X),...,3,(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,1400000US36005000400,"Census Tract 4, Bronx County, New York",5634,517,(X),(X),2807,314,(X),(X),...,0.5,(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [3]:
tracts = tracts.join(pd.DataFrame(tracts['Geographic Area Name'].str.split(',').tolist(),
                                   columns = ['tract','county','city']))
tracts["county"].replace({" Bronx County": "Bronx", 
                          " Queens County": "Queens", 
                          " Kings County": "Brooklyn",
                          " Richmond County": "Staten Island",
                          " New York County": "Manhattan"}, inplace = True)
tracts['tract'] = tracts['tract'].apply(lambda x : x[13:])
tracts.head(3)

,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total MOE!!Total population,Estimate!!Percent!!Total population,Margin of Error!!Percent MOE!!Total population,Estimate!!Male!!Total population,Margin of Error!!Male MOE!!Total population,Estimate!!Percent Male!!Total population,Margin of Error!!Percent Male MOE!!Total population,...,Margin of Error!!Male MOE!!PERCENT ALLOCATED!!Age,Estimate!!Percent Male!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Male MOE!!PERCENT ALLOCATED!!Age,Estimate!!Female!!PERCENT ALLOCATED!!Age,Margin of Error!!Female MOE!!PERCENT ALLOCATED!!Age,Estimate!!Percent Female!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female MOE!!PERCENT ALLOCATED!!Age,tract,county,city
0,1400000US36005000100,"Census Tract 1, Bronx County, New York",7080,290,(X),(X),6503,284,(X),(X),...,(X),(X),(X),(X),(X),(X),(X),1,Bronx,New York
1,1400000US36005000200,"Census Tract 2, Bronx County, New York",4542,574,(X),(X),2264,351,(X),(X),...,(X),(X),(X),(X),(X),(X),(X),2,Bronx,New York
2,1400000US36005000400,"Census Tract 4, Bronx County, New York",5634,517,(X),(X),2807,314,(X),(X),...,(X),(X),(X),(X),(X),(X),(X),4,Bronx,New York

In [11]:
tracts["BoroCTLbl"] = tracts["county"] + " " + tracts["tract"].astype(str)
tracts.head()
list(filter(lambda x: x.startswith("Estimate!!Total!!Total population!!"), list(tracts.columns)))

['Estimate!!Total!!Total population!!AGE!!Under 5 years',
 'Estimate!!Total!!Total population!!AGE!!5 to 9 years',
 'Estimate!!Total!!Total population!!AGE!!10 to 14 years',
 'Estimate!!Total!!Total population!!AGE!!15 to 19 years',
 'Estimate!!Total!!Total population!!AGE!!20 to 24 years',
 'Estimate!!Total!!Total population!!AGE!!25 to 29 years',
 'Estimate!!Total!!Total population!!AGE!!30 to 34 years',
 'Estimate!!Total!!Total population!!AGE!!35 to 39 years',
 'Estimate!!Total!!Total population!!AGE!!40 to 44 years',
 'Estimate!!Total!!Total population!!AGE!!45 to 49 years',
 'Estimate!!Total!!Total population!!AGE!!50 to 54 years',
 'Estimate!!Total!!Total population!!AGE!!55 to 59 years',
 'Estimate!!Total!!Total population!!AGE!!60 to 64 years',
 'Estimate!!Total!!Total population!!AGE!!65 to 69 years',
 'Estimate!!Total!!Total population!!AGE!!70 to 74 years',
 'Estimate!!Total!!Total population!!AGE!!75 to 79 years',
 'Estimate!!Total!!Total population!!AGE!!80 to 84 years',
 'Estimate!!Total!!Total population!!AGE!!85 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over',
 'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio',
 'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio']

In [17]:
cols_to_keep = ['city', 'tract', 'county', "BoroCTLbl", 'Total', 'Male', 'Female', 
                '00-05', '05-09', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', 
                '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', 
                '80-84', '85-UP']

prettier_cols = {
    'Estimate!!Total!!Total population': 'Total',
    'Estimate!!Male!!Total population': 'Male',
    'Estimate!!Female!!Total population': 'Female',
    'Estimate!!Total!!Total population!!AGE!!Under 5 years': "00-05",
    'Estimate!!Total!!Total population!!AGE!!5 to 9 years': "05-09",
    'Estimate!!Total!!Total population!!AGE!!10 to 14 years': "10-14",
    'Estimate!!Total!!Total population!!AGE!!15 to 19 years': "15-19",
    'Estimate!!Total!!Total population!!AGE!!20 to 24 years': "20-24",
    'Estimate!!Total!!Total population!!AGE!!25 to 29 years': "25-29",
    'Estimate!!Total!!Total population!!AGE!!30 to 34 years': "30-34",
    'Estimate!!Total!!Total population!!AGE!!35 to 39 years': "35-39",
    'Estimate!!Total!!Total population!!AGE!!40 to 44 years': "40-44",
    'Estimate!!Total!!Total population!!AGE!!45 to 49 years': "45-49",
    'Estimate!!Total!!Total population!!AGE!!50 to 54 years': "50-54",
    'Estimate!!Total!!Total population!!AGE!!55 to 59 years': "55-59",
    'Estimate!!Total!!Total population!!AGE!!60 to 64 years': "60-64",
    'Estimate!!Total!!Total population!!AGE!!65 to 69 years': "65-69",
    'Estimate!!Total!!Total population!!AGE!!70 to 74 years': "70-74",
    'Estimate!!Total!!Total population!!AGE!!75 to 79 years': "75-79",
    'Estimate!!Total!!Total population!!AGE!!80 to 84 years': "80-84",
    'Estimate!!Total!!Total population!!AGE!!85 years and over': "85-UP"
}

In [18]:
tracts.rename(columns=prettier_cols, inplace=True)
tracts.head()

,id,Geographic Area Name,Total,Margin of Error!!Total MOE!!Total population,Estimate!!Percent!!Total population,Margin of Error!!Percent MOE!!Total population,Male,Margin of Error!!Male MOE!!Total population,Estimate!!Percent Male!!Total population,Margin of Error!!Percent Male MOE!!Total population,...,Estimate!!Percent Male!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Male MOE!!PERCENT ALLOCATED!!Age,Estimate!!Female!!PERCENT ALLOCATED!!Age,Margin of Error!!Female MOE!!PERCENT ALLOCATED!!Age,Estimate!!Percent Female!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female MOE!!PERCENT ALLOCATED!!Age,tract,county,city,BoroCTLbl
0,1400000US36005000100,"Census Tract 1, Bronx County, New York",7080,290,(X),(X),6503,284,(X),(X),...,(X),(X),(X),(X),(X),(X),1,Bronx,New York,Bronx 1
1,1400000US36005000200,"Census Tract 2, Bronx County, New York",4542,574,(X),(X),2264,351,(X),(X),...,(X),(X),(X),(X),(X),(X),2,Bronx,New York,Bronx 2
2,1400000US36005000400,"Census Tract 4, Bronx County, New York",5634,517,(X),(X),2807,314,(X),(X),...,(X),(X),(X),(X),(X),(X),4,Bronx,New York,Bronx 4
3,1400000US36005001600,"Census Tract 16, Bronx County, New York",5917,461,(X),(X),2365,265,(X),(X),...,(X),(X),(X),(X),(X),(X),16,Bronx,New York,Bronx 16
4,1400000US36005001900,"Census Tract 19, Bronx County, New York",2765,307,(X),(X),1363,218,(X),(X),...,(X),(X),(X),(X),(X),(X),19,Bronx,New York,Bronx 19

In [20]:
for_export = tracts[cols_to_keep]
for_export

,city,tract,county,BoroCTLbl,Total,Male,Female,00-05,05-09,10-14,...,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-UP
0,New York,1,Bronx,Bronx 1,7080,6503,577,0,0,0,...,705,593,611,339,98,51,0,0,0,0
1,New York,2,Bronx,Bronx 2,4542,2264,2278,159,199,454,...,281,367,424,158,245,329,389,95,29,108
2,New York,4,Bronx,Bronx 4,5634,2807,2827,197,339,344,...,388,531,408,509,303,249,210,85,78,88
3,New York,16,Bronx,Bronx 16,5917,2365,3552,313,437,443,...,393,360,405,387,286,221,208,273,178,109
4,New York,19,Bronx,Bronx 19,2765,1363,1402,287,270,120,...,191,150,162,179,78,39,8,14,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,New York,303.02,Staten Island,Staten Island 303.02,6504,3401,3103,317,717,502,...,291,467,380,532,258,409,172,40,32,9
2163,New York,319.01,Staten Island,Staten Island 319.01,2725,1189,1536,136,159,245,...,139,92,167,153,206,90,37,87,91,49
2164,New York,319.02,Staten Island,Staten Island 319.02,5167,2346,2821,476,241,598,...,360,443,296,178,189,149,112,114,15,31
2165,New York,323,Staten Island,Staten Island 323,1138,617,521,73,73,53,...,96,150,39,138,81,59,17,7,14,8
2166,New York,9901,Staten Island,Staten Island 9901,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
for_export.to_csv('tract_age_sex_acs2018.csv',index=False)